/Technisches_Assessment_ETL.pdf
zugfahrten.log
cleanup.py
zugfahrten_transformed.csv
zugfahrten_errors.csv
zugfahrten_knime.sqlite
zugfahrten_errors.csv
zugfahrten_errors.csv
zugfahrten_errors.csv
KupkaBrigitte_TechnischesAssessment.zip
KupkaBrigitte-Assessment.zip
Zugfahrten.knwf
zugfahrten.sqlite
zugfahrten_transformed.csv
zugfahrten_errors.csv
zugfahrten_knime.sqlite
zugfahrten_errors.csv
zugfahrten_errors.csv
zugfahrten.sqlite
zugfahrten_errors.csv
